.container {
  width: 90%;
  margin: auto;
  text-align: center;
  margin:0;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: pink;
  text-align: center;
}
h1 {
  margin: 30px;
  font-family:"ubuntu";
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: "Montserrat";
}
img {
  width: 80%;
}
button{
  margin:5%;
  margin-bottom: 2%;
}
.back{
  margin-top: 0;
}
