.container-fluid {
  width: 90%;


  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
}
body {
  background-color: pink;
  text-align: center;
}
h1 {
  margin: 30px;
  font-family:"ubuntu";
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: "Montserrat";
}
img {
  width: 100%;
}
button{
  margin:5%;
  margin-bottom: 2%;
  margin-top: 1%;
}
.back{
  margin-top: 0;
}
